html {
    font-size: 1rem;
    color: black;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ece4dd;
}


/*nav*/
nav {
    background-color: #c6af9c;
    max-width: 100vw;
    border-bottom: 2px solid black;;
}

nav a:hover {
    background-color: #EADDCA;
    color: black;

    box-shadow: 1px 1px 5px #472f1a;
    transform:scale(1.05);
}

nav a:active {
    background-color: #8a6642;
    transition: all 0.1s ease;  
}

a {
    padding: 2vh 3vw;
    border-radius: 12px;
    border: 0;
    background-color: #b2967d;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-right: 1vw;

    transform-origin:center;
    transition: all 0.3s ease;
}

#homelogo{
    transition: all 0.0s ease;
    box-shadow: 0 0 0;
    transform:scale(1.0 );
}

.homepage {
    border: 0;
    background-color: transparent;
}

.homepage:hover {
    background-color: transparent;
}

.begin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-height: 15vh; */
}

.logo {
    height: 10vh;
}

.empty {
    align-self: center;
}

.project-makers {
    align-self: center;
    display: flex;
    flex-direction: row;
}


/*header*/
h1 {
    margin: 0;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid black;

    box-shadow: 0 0 2px 1px;
}


/*main*/
main {
    min-height: 100vh;
    max-width: 100vw;
}

h2{
    margin: 0;
    padding: 20px;
}

.phase-container {
    border-bottom: 2px solid black;
    box-shadow: 0 0 2px 1px;

    transform-origin:center;
    transition: all 0.2s ease;
}

@media (min-width: 480px) {
    .phase-container:hover{
        background-color: #e7d6c6;
    }
}

.images img {
    min-height: 100%;
    max-height: 47vh;
    width: 40vw;
    margin-bottom: 3vh;
}

img {
    border-radius: 10px;
    margin: 1vh 2vw;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.explanation p {
    padding: 3vh 3vw;
}

.section-container-endProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product {
    border-radius: 10px;
}

/*Renji*/
.Renji img {
    width: 30vw;
}

/* Raven */
.Raven img {
    width: 30vw;
}

/*contactformulier*/
.center-container-contact {
    max-width: 40vw;
    margin: 0 auto;
} 

form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 3vh;
    align-items: stretch;
}

button {
    padding: 2vh 3vw;
    border-radius: 15px;
    border: 0;
    background-color: #b2967d;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    transform-origin:center;
    transition: all 0.4s ease;
}

button:hover {
    background-color: #EADDCA;
    color: black;
    
    box-shadow: 1px 1px 5px #6d5037;
    transform:scale(1.04);
}

.formfield {
    display: flex;
    text-align: left;
    align-items: stretch;
    justify-content: space-between;
    gap: 3vh;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5vh;
}

.field input {
    min-width: 16vw;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
    margin: 3vh 0vw;
}

form input,select {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

form input::placeholder, form textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

form textarea {
    min-height: 10vh;
    border-radius: 5px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

/*footer*/
footer {
    background-color: #c6af9c;
}

footer a:hover {
    background-color: #EADDCA;
    color: black;
}

footer a:active {
    background-color: #8a6642;
}

.team {
    align-self: center;
    margin-right: 3vw;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer-links {
    align-self: center;
    margin-right: 3vw;
    display: flex;
}


/*media*/
@media (max-width: 480px) {

    .images img {
        width: 60vw;
    }

    .Renji img {
        width: 50vw;
    }

    a{
        margin: 1vh 1vw;   
    }

    .center-container-contact {
        max-width: 70vw;
        margin: 0 auto;
    }
    
    .section-container{
        flex-direction: column;
    }

    html {
        font-size: 12px;
    }

    .begin {
        flex-direction: column;
    }

    .end {
        flex-direction: column;
    }
    
    .formfield {
        flex-direction: column;
    }
}

/*dark mode*/

@media (prefers-color-scheme: dark) {
    html {
        color: white;
    }
    body {
        background-color: #362a1f;
    }
    nav {
        background-color: #644328;
        border-bottom: 2px solid black;;
    }
    a {
        background-color: #472f1a;
        color: white;
    }
    nav a:hover {
        background-color: #caab7d;
        color: black;
    }
    
    nav a:active {
        background-color: #8a6642;
    }

    @media (min-width: 480px) {
        .phase-container:hover{
            background-color: #413123;
        }
    }
    footer {
        background-color: #644328;
    }
    
    footer a:hover {
        background-color: #caab7d;
        color: black;
    }
    
    footer a:active {
        background-color: #8a6642;
    }

    input, textarea, select{
        background-color: rgb(70, 70, 70);
        color: white;
    }
    ::placeholder{
        color: white;
    }
    button {
        background-color: #6d5037;
        color: white;
    }
    button:hover{
        background-color: #8a6443;
    }
}
