html {
    font-size: 1rem;
    color: black;
}

body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ece4dd;
}


/*nav*/
nav {
    background-color: #c6af9c;
    border-bottom: 1px solid black;
}

nav a:hover {
    background-color: #EADDCA;
    color: black;
}

nav a:active {
    background-color: #8a6642;
}

a {
    padding: 2vh 3vw;
    border-radius: 5%;
    border: 0;
    background-color: #b2967d;
    color: white;
    cursor: pointer;
    height: 3vh;
    text-decoration: none;
    text-align: center;
    margin-top: 3vh;
}

.homepage {
    padding: 0px;
    border: 0;
    background-color: transparent;
}

.homepage:hover {
    background-color: transparent;
}

.begin {
    display: flex;
}

.logo {
    height: 15vh;
    padding: 5vh 5vw;
}

.empty {
    align-self: center;
}

.project-makers {
    flex: 1;
    align-self: center;

}




/*header*/




/*main*/
section {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.images img {
    height: 47vh;
    width: 40vw;
}

img {
    border-radius: 8%;
    padding: 1vh 2vw;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.explanation p {
    padding: 3vh 3vw;
}

.section-container-endProduct img {
    height: 47vh;
    width: 40vw;
    padding: 5vh 5vw;
}

.section-container-endProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product {
    border-radius: 13%;
}



/*footer*/
footer {
    background-color: #c6af9c;
    border-top: 2px solid black;
}

footer a:hover {
    background-color: #EADDCA;
    color: black;
}

footer a:active {
    background-color: #8a6642;
}

.team {
    text-align: center;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form {
    align-self: center;
    margin-right: 3vw;
}

/*


h2 {
    text-align: center;
}

.picture {
    flex-direction: row;
}

.begin {
    display: flex;
}

.end {
    display: flex;
    background-color: #b6d0e2;
    box-shadow: 2px 2px 10px 3px black;
}

.anchores a {

    /* flex: 1; */
/* align-items: baseline; */
/* gap: 10px; */
/* all: unset; 
    padding: 12px;
    border-radius: 8px;
    border: 0;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    height: 3vh;
    text-decoration: none;
    text-align: center;
    margin-top: 8vh;
}

.anchores {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-evenly;
}
    /* margin-left: 30vw; */


/* header {
    border: 5px black solid;
} 

section {
    display: flex;
}

.atencja {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.phases img {
    border-radius: 5px;
    box-shadow: 3px 3px 10px black;
    margin-bottom: 3vh;
}

.first-phase {
    height: 30vh;

}

.phase-2 {
    height: 30vh;
}

.product {
    height: 30vh;
}

.explanation {
    width: 90vw;
    margin-left: 5vw;

}


nav {
    background-color: #b6d0e2;
    box-shadow: 2px 2px 10px black;
}

#content {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}

.end a:hover {
    background-color: #EADDCA;
    color: black;
}

h2 {
    margin-top: 5vh;
}

#empty {
    width: 30vw;
}*/